# Assignment1

# : (if elif else)

# Q.1

In [3]:
units = int(input("Enter number of units: "))
bill = 0

if units > 200:
    bill = (units - 200) * 10 + 100 * 5
elif units > 100:
    bill = (units - 100) * 5 
else:
    bill = 0

print("Total bill amount: Rs", bill)

Enter number of units:  104

Total bill amount: Rs 20

# Q.2

In [10]:

percentage = float(input("Enter your percentage: "))

if percentage > 90:
    grade = "A"
elif percentage > 80 and percentage <= 90:
    grade = "B"
elif percentage >= 60 and percentage <= 80:
    grade = "C"
else:
    grade = "D"

print("Your grade is:", grade)

Enter your percentage:  54

Your grade is: D

# Q.3

In [16]:
a = int(input("Enter age of person 1: "))
b = int(input("Enter age of person 2: "))
c = int(input("Enter age of person 3: "))
d = int(input("Enter age of person 4: "))

youngest = a

if b < youngest:
    youngest = b
if c < youngest:
    youngest = c
if d < youngest:
    youngest = d

print("Youngest age is:", youngest)

Enter age of person 1:  34
Enter age of person 2:  54
Enter age of person 3:  74
Enter age of person 4:  13

Youngest age is: 13

# Q.4

In [18]:
salary = int(input("Enter salary: "))
years = int(input("Enter years of service: "))

if years > 10:
    bonus = salary * 10 / 100
elif years >= 6 and years <= 10:
    bonus = salary * 8 / 100
else:
    bonus = salary * 5 / 100

print("Net bonus amount is:", bonus)

Enter salary:  20000
Enter years of service:  8

Net bonus amount is: 1600.0

# Q.5

In [19]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if (a > b and a < c) or (a > c and a < b):
    print("Second largest number is:", a)
elif (b > a and b < c) or (b > c and b < a):
    print("Second largest number is:", b)
else:
    print("Second largest number is:", c)

Enter first number:  4
Enter second number:  45
Enter third number:  24

Second largest number is: 24

# Q.6

In [22]:
price = int(input("Enter marked price: "))

if price > 10000:
    discount = price * 20 / 100
elif price > 7000 and price <= 10000:
    discount = price * 15 / 100
else:
    discount = price * 10 / 100

net_amount = price - discount

print("Discount amount is:", discount)
print("Net amount to pay is:", net_amount)

Enter marked price:  12000

Discount amount is: 2400.0
Net amount to pay is: 9600.0

# Q.7

In [23]:
eng = int(input("Enter English marks: "))
math = int(input("Enter Math marks: "))
sci = int(input("Enter Science marks: "))
sst = int(input("Enter Social Studies marks: "))

if eng > 80 and math > 80 and sci > 80 and sst > 80:
    print("Stream Allotted: Science")

elif eng > 80 and math > 50 and sci > 50:
    print("Stream Allotted: Commerce")

elif eng > 80 and sst > 80:
    print("Stream Allotted: Humanities")

else:
    print("No stream allotted")

Enter English marks:  45
Enter Math marks:  74
Enter Science marks:  64
Enter Social Studies marks:  20

No stream allotted

# Q.8

In [26]:
num = int(input("Enter a number: "))

if num % 5 == 0:
    print("Hello")
else:
    print("Bye")

Enter a number:  7

Bye

# Q.9

In [29]:
num = int(input("Enter a number: "))

last_digit = num % 10

if last_digit % 3 == 0:
    print("Last digit is divisible by 3")
else:
    print("Last digit is not divisible by 3")

Enter a number:  8

Last digit is not divisible by 3

In [32]:
num = int(input("Enter a number: "))

if abs(num) >= 100 and abs(num) <= 999:
    print("It is a three-digit number")
else:
    print("It is not a three-digit number")

Enter a number:  645

It is a three-digit number

# Done