# Q.1

# Write a Python program to print all the numbers from 1 to 10 using a for loop.

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# Q.2

# : Write a Python program to find the sum of all numbers from 1 to 100 using a for loop.

In [191]:
total = 0
for item in range(1,101):
    total = total + item
    print(total)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

# Q.3

#  Write a Python program to print the multiplication table of a given number using a for loop.

In [193]:
number = int(input("Enter a number: "))
for i in range(1,11):
    print(number, "x", i, "=", number * i)

Enter a number:  4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

# Q.4

# Write a Python program to count the number of even and odd numbers from a series of numbers using a for loop.

In [8]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_count = 0
odd_count = 0

for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("Even numbers:", even_count)
print("Odd numbers:", odd_count)

Even numbers: 5
Odd numbers: 5

# Q.5

# Write a Python program to find the factorial of a number using a for loop.

In [197]:
num = int(input("Enter a number: "))
fact = 1

for i in range(1, num + 1):
    fact = fact * i

print("Factorial =", fact)

Enter a number:  5

Factorial = 120

# Q.6

# Write a Python program to print the Fibonacci sequence up to a specified number
using a for loop.

In [2]:
n = int(input("Enter a number: "))

a = 0
b = 1

for i in range(n):
    print(a, end=" ")
    c = a + b
    a = b
    b = c

Enter a number:  3

0 1 1

# Q.7

# Write a Python program to check if a given number is prime or not using a for loop.

In [198]:
num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print(num, "is NOT a Prime Number")
            break
    else:
        print(num, "is a Prime Number")
else:
    print(num, "is NOT a Prime Number")

Enter a number:  7

7 is a Prime Number

# Q.8

# 8: Write a Python program to find the largest element in a list using a for loop.

In [3]:
numbers = [10, 25, 7, 89, 45]

largest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num

print("Largest element is:", largest)

Largest element is: 89

# Q.9

# Write a Python program to reverse a given string using a for loop.

In [5]:
s = input("Enter a string: ")

rev = ""

for ch in s:
    rev = ch + rev

print("Reversed string:", rev)

Enter a string:  rahul

Reversed string: luhar

# Q.10

# Write a Python program to find the common elements between two lists using a
for loop.
List1 = [1,2,3]
List2 = [4,5,1]

In [7]:
list1 = [1, 2, 3]
list2 = [4, 5, 1]

common = []

for item in list1:
    if item in list2:
        common.append(item)
print("Common elements:", common)

Common elements: [1]

# Done