# 1. Positional Arguments

In [4]:
def function(a, b, c):
    print(a + b + c)

In [7]:
function(2,5,6)

13

# 2. Keyword Arguments

In [8]:
def student(name, age):
    print(name, age)

In [9]:
student(age = 13, name = "Sahil")

Sahil 13

# 3. Positional only Arguments ( / )

In [14]:
def function(a, b, /):
    print(a+b)

In [15]:
function(2,4)

6

# 4. Keyword only Arguments ( * )

In [16]:
def function(*, a, b):
    print(a+b)

In [17]:
function(a= 1, b= 13)

14

# 5. Default Arguments

In [18]:
def info(name, city="Delhi"):
    print(name,city)

In [20]:
info("rohit")
info("rohit","Banglore")

rohit Delhi
rohit Banglore

# 6. Arbitrary Arguments (* Args)

In [23]:
def total(*number):
    print(sum(number))

In [24]:
total(1,3,4,5,6)

19

# 7. Arbitrary Keyword Arguments (** kwargs)

In [25]:
def employee(**kwargs):
    print(kwargs)

In [29]:
employee(name="Waqar", age=25, city="Mau")

{'name': 'Waqar', 'age': 25, 'city': 'Mau'}

# Assignment 4 (List)

# Q.1. Find the largest number in the List?

In [43]:
list = [88,1,3,4,5,6,7,8,9,3,4,5,6,7,99,8,9,33,6,78,9,56,36,99]

largest = list[0]

for item in list:
    if largest < item:
        largest = item

print("largest number is:", largest)

largest number is: 99

# Q.2. Find Even number from a List

In [60]:
list1 = [1,3,4,5,6,7,8,9,3,4,5,6,7,8,9]
even_list = []
for item in list1:
    if item % 2 == 0:
        even_list.append(item)
print("even list is:",even_list)

even list is: [4, 6, 8, 4, 6, 8]

# Q.3. Find out all string values from a List?

In [65]:
list1 = ["Python",2,4,4.5,7,8,67,[1,2,3],"Mysql"]
for item in list1:
    if type(item) == str:
        print(item)

Python
Mysql

# Q.4. Fliter Unique Element from a List?

In [67]:
list1 = [1,3,4,5,6,7,8,9,3,4,5,6,7,8,9]
unique_list = []
for item in list1:
    if item in unique_list:
        continue
    else:
        unique_list.append(item)
print(unique_list)

[1, 3, 4, 5, 6, 7, 8, 9]

# Q.5. Flatten a Nested List?

In [72]:
listw = [[9, 2, 4],[4, 44, 989],[6, 7, 4567]]

In [75]:
flatten_list = []
for sublist in listw:
    for item in sublist:
        flatten_list.append(item)
print(flatten_list)

[9, 2, 4, 4, 44, 989, 6, 7, 4567]